<h3 class="text-center my-5 booking_title">My  Bookings</h3>

<div class="container">
    <div class="card movies_card">
        <div class="card-body">
            <table class="table table-striped text-center">
                <thead class="thead-dark">
                <tr>
                
                <th>BookId</th>
                <th>SeatNum</th>
                <th>MovieId</th>
                <th>UserId</th>
                
                <th>Booked Date</th>
                </tr>
                </thead>
                <tr *ngFor="let t of ticket1">
                
                <td>{{ t.bookid }}</td>
                <td>{{ t.seatnum }}</td>
                <td>{{ t.movieId }}</td>
                <td>{{ t.userId }}</td>
                
                <td>{{ t.date }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>